<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="EvideaNopEntities" connectionString="metadata=res://*/Entity.EvideaNopModel.csdl|res://*/Entity.EvideaNopModel.ssdl|res://*/Entity.EvideaNopModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=veritabani.evidea.com,1896;initial catalog=Evidea.Nop;persist security info=True;user id=NopWebUser;password=#$fyRg54@!rjn;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <appSettings>
    <add key="EvideaElasticSearchServer" value="http://10.100.201.35:9200,http://10.100.201.36:9200" />
    <add key="EvideaElasticSearchServerLive" value="http://10.100.201.22:9200,http://10.100.201.23:9200" />
    <add key="HourlyRevenueThresholdPercentage" value="15" />
    <add key="NetScalerIP" value="195.155.133.90" />
    <add key="NetScalerUsername" value="Evidea" />
    <add key="NetScalerPassword" value="ZXCdsaQWE32!" />

    <add key="CouchbaseServerList" value="http://10.100.201.60:8091,http://10.100.201.61:8091,http://10.100.201.62:8091" />
    <add key="CouchbaseDefaultBucketName" value="evidea" />
    <add key="CouchbaseGuvenliBucketName" value="guvenli" />
    <add key="CouchbaseUsername" value="Administrator" />
    <add key="CouchbasePassword" value="J2eJMRqP" />
  </appSettings>
  <common>
    <logging>
      <factoryAdapter type="Parantez.Core.Logging.MultiLoggerFactoryAdapter, Parantez.Core">
        <arg key="ConsoleOutLogger.factoryAdapter" value="Common.Logging.Simple.ConsoleOutLoggerFactoryAdapter, Common.Logging" />
        <arg key="ConsoleOutLogger.level" value="INFO" />
        <arg key="ConsoleOutLogger.showLogName" value="false" />
        <arg key="ConsoleOutLogger.showDateTime" value="true" />
        <arg key="ConsoleOutLogger.dateTimeFormat" value="yyyy/MM/dd HH:mm:ss:fff" />
      </factoryAdapter>
    </logging>
  </common>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging.Core" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
